# Backend
backend/.env
backend/lorcana.db
backend/venv/
backend/app/__pycache__/
backend/__pycache__/
**/__pycache__/
*.pyc
*.pyo
.env

# Frontend
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/pubspec.lock

# Docker
.docker/

# IDE
.vscode/settings.json
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
